html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: -webkit-radial-gradient(#ffef25, #ff0000);
  background: radial-gradient(#ffef25, #ff0000);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.logo-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: url('../img/logo.png') no-repeat center center;
  opacity: 0.1;
}

canvas {
  width: 100%;
  height: 100%;
}

#img{
  display: none;
}

#bg-canvas{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:999;
  background: -webkit-radial-gradient(#ffef25, #ff0000);
  background: radial-gradient(#ffef25, #ff0000);
}

.title {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  color: #ffef25;
  text-align: center;
  font-size: 38px;
}

.container {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 2;
}

.container > ul {
  text-align: center;
}

.container > ul > li {
  display: inline-block;
  margin: 10px;
  font-size: 0;
  height: 46px;
  overflow: hidden;
  border: 2px solid #f00;
  border-radius: 3px;
  box-shadow: 2px 2px 10px #f00;
}

.container > ul > li > div {
  display: inline-block;
  margin: 0 1px;
}

.container > ul > li > div ul {
  background-color: #ffef25;
  animation: scroll 800ms linear infinite;
  -webkit-animation: scroll 800ms linear infinite;
}

.container > ul > li > div ul.num0 {
  animation: none;
  -webkit-animation: none;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
}

.container > ul > li > div ul.num1 {
  animation: scroll1 2s ease-out;
  -webkit-animation: scroll1 2s ease-out;
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
}

.container > ul > li > div ul.num2 {
  animation: scroll2 2s ease-out;
  -webkit-animation: scroll2 2s ease-out;
  transform: translateY(-20%);
  -webkit-transform: translateY(-20%);
}

.container > ul > li > div ul.num3 {
  animation: scroll3 2s ease-out;
  -webkit-animation: scroll3 2s ease-out;
  transform: translateY(-30%);
  -webkit-transform: translateY(-30%);
}

.container > ul > li > div ul.num4 {
  animation: scroll4 2s ease-out;
  -webkit-animation: scroll4 2s ease-out;
  transform: translateY(-40%);
  -webkit-transform: translateY(-40%);
}

.container > ul > li > div ul.num5 {
  animation: scroll5 2s ease-out;
  -webkit-animation: scroll5 2s ease-out;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.container > ul > li > div ul.num6 {
  animation: scroll6 2s ease-out;
  -webkit-animation: scroll6 2s ease-out;
  transform: translateY(-60%);
  -webkit-transform: translateY(-60%);
}

.container > ul > li > div ul.num7 {
  animation: scroll7 2s ease-out;
  -webkit-animation: scroll7 2s ease-out;
  transform: translateY(-70%);
  -webkit-transform: translateY(-70%);
}

.container > ul > li > div ul.num8 {
  animation: scroll8 2s ease-out;
  -webkit-animation: scroll8 2s ease-out;
  transform: translateY(-80%);
  -webkit-transform: translateY(-80%);
}

.container > ul > li > div ul.num9 {
  animation: scroll9 2s ease-out;
  -webkit-animation: scroll9 2s ease-out;
  transform: translateY(-90%);
  -webkit-transform: translateY(-90%);
}

.container > ul > li > div ul li {
  padding: 2px 15px;
  font-size: 32px;
  color: #f00;
  font-weight: bold;
}

.btn-div {
  position: absolute;
  bottom: 80px;
  left: 50%;
  z-index: 99;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.btn-ul-div {
  width: 180px;
  height: 72px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-div ul {
  font-size: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-div ul li {
  list-style: none;
  display: inline-block;
}

.stop {
  display:none;
  cursor: pointer;
  position: absolute;
  top: -150px;
  left: 50%;
  z-index: 9;
  text-shadow: 5px 5px 10px #f00;
  margin-left: -62px;
  width: 120px;
  height: 120px;
  text-align: center;
  line-height: 120px;
  font-size: 32px;
  color: yellow;
  border-radius: 50%;
  border: 2px solid #f00;
  box-shadow: 5px 2px 10px #000;
  background: linear-gradient(60deg, red, yellow);
  background: -webkit-linear-gradient(60deg, red, yellow);
}

.stop:hover {
  animation: stop 300ms linear infinite alternate;
  -webkit-animation: stop 300ms linear infinite alternate;
}

.arrow {
  width: 80px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -110px;
  background: url('../img/arrow.png') no-repeat 0 7px;
  background-size: 86%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.arrow.right {
  left: auto;
  right: -110px;
  background: url('../img/arrow.png') no-repeat 11px -106px;
  background-size: 86%;
}

.arrow:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

button {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  width: 180px;
  line-height: 66px;
  text-align: center;
  font-weight: bold;
  border: 2px solid #f00;
  border-radius: 5px;
  background: -webkit-linear-gradient(left top, #ff0000, #ffef25);
  background: linear-gradient(to bottom right, #ff0000, #ffef25);
}

button[disabled] {
  background: #ccc;
  border-color: #999;
}

.btn-ul-div:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

@keyframes scroll {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  to {
    transform: translateY(-90%);
    -webkit-transform: translateY(-90%);
  }
}

@-webkit-keyframes scroll {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  to {
    transform: translateY(-90%);
    -webkit-transform: translateY(-90%);
  }
}

@keyframes scroll9 {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  to {
    transform: translateY(-90%);
    -webkit-transform: translateY(-90%);
  }
}

@-webkit-keyframes scroll9 {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  to {
    transform: translateY(-90%);
    -webkit-transform: translateY(-90%);
  }
}

@keyframes scroll8 {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  to {
    transform: translateY(-80%);
    -webkit-transform: translateY(-80%);
  }
}

@-webkit-keyframes scroll8 {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  to {
    transform: translateY(-80%);
    -webkit-transform: translateY(-80%);
  }
}

@keyframes scroll7 {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  to {
    transform: translateY(-70%);
    -webkit-transform: translateY(-70%);
  }
}

@-webkit-keyframes scroll7 {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  to {
    transform: translateY(-70%);
    -webkit-transform: translateY(-70%);
  }
}

@keyframes scroll6 {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  to {
    transform: translateY(-60%);
    -webkit-transform: translateY(-60%);
  }
}

@-webkit-keyframes scroll6 {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  to {
    transform: translateY(-60%);
    -webkit-transform: translateY(-60%);
  }
}

@keyframes scroll5 {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}

@-webkit-keyframes scroll5 {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}

@keyframes scroll4 {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  to {
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
  }
}

@-webkit-keyframes scroll4 {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  to {
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
  }
}

@keyframes scroll3 {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  to {
    transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
  }
}

@-webkit-keyframes scroll3 {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  to {
    transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
  }
}

@keyframes scroll2 {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  to {
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
  }
}

@-webkit-keyframes scroll2 {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  to {
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
  }
}

@keyframes scroll1 {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
  }
}

@-webkit-keyframes scroll1 {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
  }
}

@keyframes stop {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  to {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
}

@-webkit-keyframes stop {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  to {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
}
